.list {
  @import "../../../styles/variables.module";

  border: $border;
  padding: 0 $padding;

  .title {
    padding: 0 0.6em;
  }

  .container {
    min-height: 5em;
    padding: 0 0.6em;
  }
}
