.achievements {
  @import "../../styles/variables.module";

  background: white;
  margin: $margin 0;

  .title {
    padding: 0 0.6em;
    margin-bottom: $margin;
  }

  .container {
    padding: 0 $padding;

    > div {
      margin: $margin 0;
    }
  }

  .allAchievements {
    border: $border;
    padding: 0.2em $padding;
  }
}
